NEXT_PUBLIC_SUPABASE_URL=https://ffauweryjzpnskdaqcyp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bLkboY3aqcA-LRqg7VROgw_IjxTh84f
VITE_SUPABASE_URL=https://ffauweryjzpnskdaqcyp.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bLkboY3aqcA-LRqg7VROgw_IjxTh84f
